<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US-China Investment Summit 2016</title>
</head>
<body>

<img src="background -eng.jpg" alt="Smiley face" height="168" width="372">

<p>

Dear Mr./Ms.:
</p>

<p>

On behalf of Financial and Risk Modeling Institute at Stanford University and Cardinal Pitch Club, we would sincerely invite you to our upcoming US-China Investment Summit in Silicon Valley in California, United States. Detailed date and location of this summit are a follows:
Date: August 24th to 25th, 2016
Location: Mission City Ballroom, 5001 Great America Pkwy, Santa Clara, CA 95054

</p>

<p>

We have invited General Partners of VC and PE firms, major shareholders of public listed companies and other industry influencers from the United States and China engaging in modern technology investment and investigation, joining us for profound discussions in industry trend, challenges and opportunities, and philosophy of investment. We look forward to the joyful experience, together with you, from the information exchange and networking reception.

As our valued member, we provide exclusive $100 member pass for our valued customer. Just enter CPCMEMBER100 to get the valued deal!

The link to order tickets for this summit is: www.trend2016.com/register

Greetings, and welcome to the US-China Investment Summit.

</p>


<p>
Truly yours,

Cardinal Pitch Club
</p>
</body>
</html>